html{
    background-color: #333;
    margin: 0;
    height: 100%;
    overflow:hidden;
    min-width: 300px;
}

.title{
    font-size: 4em;
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    color: lightblue;
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #333;
    color: white;
    height: 55px;
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
}
.main-container{
    flex: 1 calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.login-register-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 50px;
    font-size: larger;
    font-family: 'Oleo Script', cursive;
    position: relative;
    top: 50px;
}
.left-column{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 500px;
}
#guitar-picture{
    width: 400px;
    height: 400px;
    margin: 0 50px;
    position: relative;
    top: -10px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%); /* Clip bottom right corner */
    background-color: lightblue;
    
}
#piano-picture{
    width: 400px;
    margin: 0 50px;
    position: relative;
    top: 50px;
}
.right-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 300px;
    font-family: 'Oleo Script', cursive;
    
}

footer {
    background-color: #333;
    font-family: 'Oleo Script', cursive;
    color: lightblue;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 55px;
    font-size: 2em;

}

.index-footer {
    height: 55px;
}

.author-name {
    flex-grow: 1;
    text-align: left;

}

@media (max-height: 700px ) {
    
    .left-column{
        display: none;
    }
    .right-column{
        margin: 0;
    }
    html{
        background-color: white;
    }
  }

  @media (max-width: 1000px) {

    .left-column {
      display: none;
    }
    .right-column{
        margin: 0;
        padding: ;
    }
    .login-register-buttons{
        position: relative;
        top: 50px;
    }
  }

  @media (max-height: 500px ) {
    
    .left-column{
        display: none;
    }
    .right-column{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    html{
        background-color: white;
    }
    footer{
        display: none;
    }
    header{
        display: none;
    }
  }