html{
    background-color: #333;
    margin: 0;
    height: 100%;
    overflow:hidden;
}
.streak-element{
    display: flex;
    position: absolute;
    top: 25%;
    left: 15%;
    border: 2px solid #F991CC;
    padding: 70px;
    background-color: #F991CC;
    border-radius: 65%;
    font-size: 2em;
}
.google-drive-button{
    display: flex;
    position: absolute;
    top: 55%;
    left: 14.5%;
    border: 2px solid lightgreen;
    padding: 70px;
    background-color: lightgreen; 
    opacity: .8;
    border-radius: 5%;
    font-size: 2em;
    align-items: baseline;

}

.quote{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 81%;
    left: 5%;
    font-size: 1.5em;
    font-family: 'Oleo Script', cursive;
    color: black;

}

#google-drive-button{
    display: flex;
    position: absolute;
    width: 25%;
    align-items: center;
    top: 70%;
    left: 37%;

}

button {
            width: 200px;
            height: 50px;
            font-size: 20px;
            color: black !important;
        }

.title{
    font-size: 4em;
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    color: lightblue;
}




header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h2{
    font-family: 'Oleo Script', cursive;
    position: relative;
    top: -10%;
    font-size: 3em;
}


.main-container-logpage{
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    font-family: 'Oleo Script', cursive;
}

.timesheet{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 800px;
    font-family: 'Oleo Script', cursive;
    width: 80%;
}
#ID1{
    background-color: lightblue !important;
}

.streak-and-g-drive{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 400px;
}

.logpage-nav{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 2%;
    left: 0;
    width: 100%;
    padding: 10px;
    font-family: 'Oleo Script' cursive;
}
.display-username{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 4%;
    left: 92%;
    width: 100%;
    padding: 10px;
    font-family: 'Oleo Script' cursive;
    color: white;
    font-size: 1.5em;
}

menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

menu li {
    margin-right: 20px; /* Add space between menu items */
    font-family: 'Oleo Script', cursive;
}

.nav-item{
    color: lightblue;
    font-size: 1.3em;
}
.nav-item-active{
    color:white;
    font-size: 1.3em;
}
footer {
    background-color: #333;
    font-family: 'Oleo Script', cursive;
    color: lightblue;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 55px;
    font-size: 2em;

}

.index-footer {
    height: 55px;
}

.author-name {
    flex-grow: 1;
    text-align: left;

}

@media (max-height: 650px ) {
    
    .left-column{
        display: none;
    }
    .right-column{
        margin: 0;
    }
    html{
        background-color: white;
    }
  }

  @media (max-width: 1000px) {

    .streak-and-g-drive {
        display: none;
    }
    .timesheet {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Ensure it takes the full height of the viewport */
    }
  }

  @media (max-height: 500px ) {
    
    .left-column{
        display: none;
    }
    .right-column{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    html{
        background-color: white;
    }
    h2{
        display: none;
    }
    footer{
        display: none;
    }
    header{
        display: none;
    }
    menu{
        display: none;
    }
  }